.home-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 160px 24px;
    gap: 32px;

    background: #FFFFFF;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.home-container h1{
    /* Title Hero */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 120%;
    /* or 86px */
    text-align: center;
    letter-spacing: -0.03em;

    color: #1E1E1E;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.home-container button{
    cursor: pointer;
    box-sizing: border-box;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 8px;

    width: 240px;
    height: 40px;

    background: #1FD27E;
    border: none;
    border-radius: 8px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;
    /* Button */
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;

    color: #202020;

}
.home-container button:hover{
    background: #1dc074;
}